/* message box shows when user clicks into field */
#pwMessage {
    display: none;
    background: #f1f1f1;
    color: black;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#pwMessage p {
    padding: 10px 35px;
    font-size: 18px;
}

.valid {
    color: green;
}

.valid:before{
    position: relative;
    left: -35px;
    content: "\2713";
}

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "\0078";
}


/* USER HOME */
.book-card {
    display: inline;
}

.book-card img{
    width: 300px;
    height: 400px;
    padding-bottom: 20px;
}

/* TOGGLE DESCRIPTION FOR BOOK IN SEARCH RESULTS */
#moreInfo {
    display: none;
}