
/* BODY STYLES */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #121113; /* Smoky Black */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #736892;
}
a:hover {
    color: #F87666;
}

.nav-link {
    color: #121113;
}

/* .nav-link:hover {
    color: #F87666;
} */

.btn {
    color: #121113; /* smoky black*/
    background-color: #F87666; /* rhythm */
}

.btn:hover {
    background-color: #121113;
    color: #F87666;
}

/* BASE TEMPLATE STYLES */
#headerId {
    background-image: url("/static/img/banner3.png");
    /* background-attachment: fixed; */
    background-position: center;
    background-size: auto;
    /* width: 100%; */
    height: 250px;
    margin-bottom: 50px;
}

footer {
    margin-top: auto;
    background-color:#c9cad9;  /* Lavender Gray */
    width: 100%;
    height: 60px;
    padding-top: 10px;
    text-align: center;
}



/* HOMEPAGE STYLES */
#homepage-main{
    margin-bottom: 20px;
}

/* figure {
    border: 1px solid #121113;
    box-shadow: 2px 2px #d1d2f9;
    padding-top: 5px;
    border-radius: 5px;
} */

figure {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
#signUpBtn {
    text-align: center;
    text-decoration: none;
}

h1 {
    font-size: 30px;
    text-align: center;
    color: #736892;  /* Rhythm */
    margin-bottom: 20px;

}

.summary {
    text-align: center;
}

figure {
    margin: 50px auto;
}
/* message box shows when user clicks into field */
#pwMessage {
    display: none;
    background: #f1f1f1;
    color: black;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#pwMessage p {
    padding: 10px 35px;
    font-size: 18px;
}

.valid {
    color: green;
}

.valid:before{
    position: relative;
    left: -35px;
    content: "\2713";
}

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "\0078";
}


/* SIGN IN FORM STYLES */
#signFormId {
    margin-bottom: 30px;
    /* align-items: center; */
}

legend {
    color: #736892;
    margin-bottom: 10px;
}

.btn-reset {
    color: #F87666;
    background-color:#121113;
}


/* USER HOME STYLES*/
.homePage h3 {
    color: #736892;
    /* text-align: center; */
    margin: 20px auto;
}

.hr1 {
    
    border-bottom: 3px solid #F87666;
}


#goals {
    margin: 80px auto;
}

.card{
    box-shadow: 5px 5px #d1d2f9;
    margin: 20px auto 40px auto;
} 

ul li{
    list-style-type: none;
}

.book-card .btn {
    margin: 10px auto;
}

.book-card h5 {
    margin-top: 8px;
}

/*  UPDATE PROFILE STYLES */

#updateId {
    margin-bottom: 20px;
}

.btn-link {
    color: #736892;
    text-decoration: none;
}

/* SEARCH PAGE STYLES */

#searchSection h2 {
    color: #736892;
    margin-bottom: 20px;
}

#searchSection{
    align-content:center;
}
/* animation for input search field  */
input[type="search"] {
    width: 250px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-bottom: 10px;
}

input[type="search"]:focus {
    width: 70%;
}


/* SEARCH RESULTS PAGE STYLES */

.resultsDiv {
    margin-bottom: 30px;
}

/* limit the lines of the description that shows */
.summaryDescr {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* line-height: 16px;
    max-height: 32px; */
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.card {
    height: auto;
}

h5 {
    color: #736892;
}

h2 {
    font-size: 50px;
    text-align: center;
    color: #736892;  /* Rhythm */
    margin-bottom: 40px;

}

/* DETAILS PAGE STYLES */

#detailsDiv {
    margin-bottom: 40px;
}

p b {
    color: #736892;
}

#detailsDiv .btn {
    margin-top: 20px;
}

#review-list h3{
    margin-top: 30px;
    /* text-align: center; */
    color: #736892;
}

.review-card {
    max-width: 18rem;
    height: auto;
}

