{% extends 'base.html' %}

{% block title %}Book List{% endblock %}
{% block link %} 
    <a id="user_home" href="{{url_for('user_home')}}">Home</a>
    <a id="log_out" href="{{url_for('log_out')}}">Log Out</a> 
{% endblock %}
{% block content %}

    <h2>Main Book List</h2>
    <h4>Add books to your list.</h4>
    {% for volume in volumes %}
        <div class="volume-card card" id="{{volume.volume_id}}">
            <a href="/volumes/{{volume.volume_id}}">
                <img src="{{volume.img_links}}" alt="placeholder img">
            </a>
            <h4>{{volume.title}}</h4>
            <h6>{{volume.authors}}</h6>
            <button class="add-btn">Add</button>
        </div>
    {% endfor %}

   
{% endblock %}