{% extends 'base.html' %}

{% block title %}{{volume.volumeInfo.title}}{% endblock %}
{% block link %} 
    <a id="book_search" href="{{url_for('book_search')}}">Book Search</a>
    <a id="user_home" href="{{url_for('user_home')}}">Home</a>
    <a id="log_out" href="{{url_for('log_out')}}">Log Out</a> 
{% endblock %}

{% block content %}
<div id="details {{volume.etag}}">
    <h2 id="book-title">{{volume.volumeInfo.title}}</h2>
    <h4>{{volume.volumeInfo.authors}}</h4>
    <img src="{{volume.volumeInfo.imageLinks.thumbnail}}" alt="{{volume.volumeInfo.title}} image">
    {% if 'description' in volume.volumeInfo %}
    <p><b>Summary:</b> {{volume.volumeInfo.description}}</p>
    {% else %}
        <p><b>Summary:</b> Unavailable</p>
    {% endif %}

    {% if 'publishedDate' in volume.volumeInfo %}
        <p><b>Published:</b> {{volume.volumeInfo.publishedDate}}</p>
    {% else %}
        <p><b>Published:</b> Unavailable</p>
    {% endif %}

    {% if 'pageCount' in volume.volumeInfo %}
        <p><b>Page Count:</b> {{volume.volumeInfo.pageCount}}</p>
    {% else %}
        <p><b>Page Count:</b> Unavailable</p>
    {% endif %}

    {% if 'categories' in volume.volumeInfo %}
        <p><b>Genres:</b> {{volume.volumeInfo.categories}}</p>
    {% else %}
        <p><b>Genre:</b> Unavailable</p>
    {% endif %}
        
</div>

<div id="review-list">
    <h4>Reviews</h4>
    <h5>Click here to <a class="review_form" id="{{volume.id}}" href="{{url_for('review_form')}}" target="_blank">create</a> an review</h5>
    <ul>
        
    </ul>
</div>
{% endblock %}

{% block js %}
    
<script src="{{ url_for('static', filename='js/index.js')}}"> </script>
<script src="/static/js/review_form.js"></script>
{% endblock %}