{% extends 'base.html' %}

{% block title %}Book List{% endblock %}
{% block link %} 
    <a id="user_home" href="{{url_for('user_home')}}">Home</a>
    <a id="log_out" href="{{url_for('log_out')}}">Log Out</a> 
{% endblock %}
{% block content %}

    <h2>Main Book List</h2>
    <h4>Add books to your list.</h4>

    <div class="card volume" width="300">
        <a href=""><img src="http://lorempixel.com/400/200/city" alt="random placeholder img"></a>
        <h3>Title:</h3>
        <p>Authors:</p>
        <button>Add</button>
    </div>

    <div class="card volume" width="300">
        <a href=""><img src="http://lorempixel.com/400/200/nature" alt="random placeholder img"></a>
        <h3>Title:</h3>
        <p>Authors:</p>
        <button>Add</button>
    </div>

    <div class="card volume" width="300">
        <a href=""><img src="http://lorempixel.com/400/200/city" alt="random placeholder img"></a>
        <h3>Title:</h3>
        <p>Authors:</p>
        <button>Add</button>
    </div>

    <div class="card volume" width="300">
        <a href=""><img src="http://lorempixel.com/400/200/nature" alt="random placeholder img"></a>
        <h3>Title:</h3>
        <p>Authors:</p>
        <button>Add</button>
    </div>

    <div class="card volume" width="300">
        <a href=""><img src="http://lorempixel.com/400/200/city" alt="random placeholder img"></a>
        <h3>Title:</h3>
        <p>Authors:</p>
        <button>Add</button>
    </div>

    <div class="card volume" width="300">
        <a href=""><img src="http://lorempixel.com/400/200/nature" alt="random placeholder img"></a>
        <h3>Title:</h3>
        <p>Authors:</p>
        <button>Add</button>
    </div>

    <div class="card volume" width="300">
        <a href=""><img src="http://lorempixel.com/400/200/city" alt="random placeholder img"></a>
        <h3>Title:</h3>
        <p>Authors:</p>
        <button>Add</button>
    </div>

    <div class="card volume" width="300">
        <a href=""><img src="http://lorempixel.com/400/200/nature" alt="random placeholder img"></a>
        <h3>Title:</h3>
        <p>Authors:</p>
        <button>Add</button>
    </div>

    <div class="card volume" width="300">
        <a href=""><img src="http://lorempixel.com/400/200/city" alt="random placeholder img"></a>
        <h3>Title:</h3>
        <p>Authors:</p>
        <button>Add</button>
    </div>

    <div class="card volume" width="300">
        <a href=""><img src="http://lorempixel.com/400/200/nature" alt="random placeholder img"></a>
        <h3>Title:</h3>
        <p>Authors:</p>
        <button>Add</button>
    </div>

    <div class="card volume" width="300">
        <a href=""><img src="http://lorempixel.com/400/200/city" alt="random placeholder img"></a>
        <h3>Title:</h3>
        <p>Authors:</p>
        <button>Add</button>
    </div>

    <div class="card volume" width="300">
        <a href=""><img src="http://lorempixel.com/400/200/nature" alt="random placeholder img"></a>
        <h3>Title:</h3>
        <p>Authors:</p>
        <button>Add</button>
    </div>

{% endblock %}