{% extends 'base.html' %}

{% block title %}{{volume.volumeInfo.title}}{% endblock %}
{% block link %} 
    <a id="book_search" href="{{url_for('book_search')}}">Book Search</a>
    <a id="user_home" href="{{url_for('user_home')}}">Home</a>
    <a id="log_out" href="{{url_for('log_out')}}">Log Out</a> 
{% endblock %}

{% block content %}
<div id="details {{volume.etag}}">
    <h2 id="book-title">{{volume.volumeInfo.title}}</h2>
    <h4>{{volume.volumeInfo.authors}}</h4>
    <img src="{{volume.volumeInfo.imageLinks.thumbnail}}" alt="{{volume.volumeInfo.title}} image">
    {% if 'description' in volume.volumeInfo %}
    <p><b>Summary:</b> {{volume.volumeInfo.description}}</p>
    {% else %}
        <p><b>Summary:</b> Unavailable</p>
    {% endif %}

    {% if 'publishedDate' in volume.volumeInfo %}
        <p><b>Published:</b> {{volume.volumeInfo.publishedDate}}</p>
    {% else %}
        <p><b>Published:</b> Unavailable</p>
    {% endif %}

    {% if 'pageCount' in volume.volumeInfo %}
        <p><b>Page Count:</b> {{volume.volumeInfo.pageCount}}</p>
    {% else %}
        <p><b>Page Count:</b> Unavailable</p>
    {% endif %}

    {% if 'categories' in volume.volumeInfo %}
        <p><b>Genres:</b> {{volume.volumeInfo.categories}}</p>
    {% else %}
        <p><b>Genre:</b> Unavailable</p>
    {% endif %}
        
</div>
<form action="/add_book" method="post">
    <input type="hidden" id={{volume.id}} name="volume_id" value="{{volume.id}}">
    <input type="hidden" id={{volume.volumeInfo.title}} name="volume_title" value="{{volume.volumeInfo.title}}">
    
    {% if 'authors' in volume.volumeInfo %}
    <input type="hidden" id={{volume.volumeInfo.authors}} name="volume_authors" value="{{volume.volumeInfo.authors}}">
    {% else %}
        <input type="hidden" id="volume_authors" name="volume_authors" value="none">
    {% endif %}

    {% if 'categories' in volume.volumeInfo %}
        <input type="hidden" id={{volume.volumeInfo.categories}} name="volume_genre" value="{{volume.volumeInfo.categories}}">
    {% else %}
        <input type="hidden" id="mainCategory" name="volume_genre" value="none">
    {% endif %}

    {% if 'description' in volume.volumeInfo %}
        <input type="hidden" id={{volume.volumeInfo.description}} name="volume_description" value="{{volume.volumeInfo.description}}">
    {% else %}
        <input type="hidden" id="volume.description" name="volume_description" value="Unavailable">
    {% endif %}
    
    {% if 'publishedDate' in volume.volumeInfo %}
    <input type="hidden" id={{volume.volumeInfo.publishedDate}} name="volume_publishedDate" value={{volume.volumeInfo.publishedDate}}>
    {% else %}
    <input type="hidden" id="volume.publishedDate" name="volume_publishedDate" value="Unavailable">
    {% endif %}

    {% if 'pageCount' in volume.volumeInfo %}
        <input type="hidden" id={{volume.volumeInfo.pageCount}} name="volume_pageCount" value="{{volume.volumeInfo.pageCount}}">
    {% else %}
        <input type="hidden" id="volume.pageCount" name="volume_pageCount" value=0>
    {% endif %}
    
    {% if 'imageLinks' in volume.volumeInfo %}
        <input type="hidden" id={{volume.volumeInfo.imageLinks}} name="volume_imageLinks" value="{{volume.volumeInfo.imageLinks.smallThumbnail}}">
    {% else %}
        <input type="hidden" id="imageLinks" name="volume_imageLinks" value="none">
    {% endif %}
    <input type="submit" value="Add to List" id="addToList">
</form>
<a href="https://www.google.com/books/edition/_/{{volume.id}}?hl=en&kptab=sideways" target="_blank">Similar Books</a>
<div id="review-list">
    <h4>Reviews</h4>
    {# goes to review form with volume title and id #}
    <ul>
        {% for review in reviews %}
            <h5>{{review.review_title}}</h5>
            <p>User: {{review.review_id}}</p>
            <p>{{review.review}}</p>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/review_post.js')}}"> </script>
{% endblock %}