{% extends 'base.html' %}

{% block title %}Book Dock{% endblock %}


{% block content %}
    <h1>Book Dock</h1>

    <h3>Book Dock Subtitle</h3>

    <p>Information about what Book Dock is</p>

   
    {# link that is a button to route to sign up form #}
    <a type="button" href="{{ url_for('signup_form') }}" class="btn btn-primary">Sign Up</a>

    {# 
        creating an modal login form using w3schools for reference
        https://www.w3schools.com/howto/howto_css_login_form.asp
    #}

    <button type="button" id="sign_in" class="btn btn-secondary">Sign In</button>
    {# modal #}
    <div id="modalOne">
        {# will create a event function to close modal and open#}
        <span class="closeModal" title="Close Modal">&times;</span>

    {# content for modal #}
        <form action="/signin" class="modalForm animate" method="POST">
            <h5>Please Log In</h5>
            <div class="container">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>
                <br>
                <label for="password">Password:</label>
                <input type="text" id="password" name="password" required>
                <br>
                <input type="submit" id="loginSubmit">
            </div>
            <!-- <div class="container">
                {# will create a event function for cancel btn #}
                <button class="cancelbtn">Cancel</button>

                {# will look into forgot password #}
                 <span class="password">Forgot <a href="#">password?</a></span> -->
            </div> 
        </form>
    </div>
{% endblock %}