{% extends 'base.html' %}

{% block title %}Add a Review{% endblock %}
{% block link %} 
    <ul class="navbar-nav">
        <li class="navbar-item">
            <a id="book_search" href="{{url_for('book_search')}}" class="nav-link">Book Search</a>
        </li>
        <li class="navbar-item">
            <a id="user_home" href="{{url_for('user_home')}}" class="nav-link">Home</a> 
        </li>
        <li class="navbar-item">
            <a id="log_out" href="{{url_for('log_out')}}" class="nav-link">Log Out</a>
        </li>
    </ul>
{% endblock %}
{% block content %}
   <section class="container">
        <legend>Create Your Review</legend>
        <form action="/add_review" method="post" id="formPost">
            <input type="hidden" id="volume_id" name="volume_id" value="{{book_id}}">

            <div class="mb-3">
                <label for="volume_title" class="form-label">Book Title:</label>
                <input type="text" id="volume_title" name="volume_title" value="{{title}}" readonly class="form-control w-25"> 
            </div>
    
            <div class="mb-3">
                <label for="reviewTitle" class="form-label">Review Title:</label>
                <input type="text" id="reviewTitle" name="reviewTitle" required class="form-control w-25">
            </div>
            <div class="mb-3">
                <label for="reviewPost" class="form-label">Review:</label>
                <textarea name="reviewPost" id="reviewPost" cols="30" rows="5" required class="form-control w-25"></textarea>
            </div>

            <input type="submit" value="Post Review" class="btn" id="reviewPost">
        </form>
   </section>

{% endblock %}

{% block js %}
    <script src="/static/js/reviewForm.js"></script>
{% endblock %}