{% extends 'base.html' %}

{% block title %}Add a Review{% endblock %}
{% block link %} 
    <a id="book_search" href="{{url_for('book_search')}}">Book Search</a>
    <a id="user_home" href="{{url_for('user_home')}}">Home</a>
    <a id="log_out" href="{{url_for('log_out')}}">Log Out</a> 
{% endblock %}
{% block content %}
    <form action="/add_review" method="post" id="formPost">
        <input type="hidden" id="volume_id" name="volume_id" value="{{book_id}}">
        <label for="volume_title">Book Title:</label>
        <input type="text" id="volume_title" name="volume_title" value="{{title}}" readonly> 
        <br>

        <label for="reviewTitle">Review Title:</label>
        <input type="text" id="reviewTitle" name="reviewTitle" required>
        <br>

        <label for="reviewPost">Review:</label>
        <textarea name="reviewPost" id="reviewPost" cols="30" rows="5" required></textarea>
        <br>
        <input type="submit" value="Post Review" id="reviewPost">
    </form>


{% endblock %}

{% block js %}
    <script src="/static/js/review_form.js"></script>
{% endblock %}