{% extends 'base.html' %}

{% block title %}Book List{% endblock %}

{% block link %}
    <ul class="navbar-nav">
        <li class="navbar-item">
            <a id="user_home" class="nav-link" href="{{url_for('user_home')}}">Home</a>
        </li>
        <li class="navbar-item">
            <a id="log_out" class="nav-link" href="{{url_for('log_out')}}">Log Out</a> 
        </li>
    </ul>
{% endblock %}

{% block content %}
   <section  class="container" id="searchSection">
        <h2>Add books to your list.</h2>
        {# working on Search feature #}
        <form action="/search_books">
            {# MDN: "q is the most common name given to search inputs, although it's not mandatory". #}
            {# "When submitted, the data name/value pair sent to the server will be q=searchterm" #}
            <input type="search" id="userSearch" class="form-control" name="q" placeholder="Search for books..." required>
            <button class="btn search-btn mb-2">Search</button>
        </form>
   </section>
    
   
{% endblock %}

{% block js %}
 
{% endblock %}