{% extends 'base.html' %}

{% block title %}Book List{% endblock %}
{% block link %} 
    <a id="user_home" href="{{url_for('user_home')}}">Home</a>
    <a id="log_out" href="{{url_for('log_out')}}">Log Out</a> 
{% endblock %}



{% block content %}

    <h2>Main Book List</h2>
    <h4>Add books to your list.</h4>
    {# working on Search feature #}
    <form action="/search_books">
        {# MDN: "q is the most common name given to search inputs, although it's not mandatory". #}
        {# "When submitted, the data name/value pair sent to the server will be q=searchterm" #}
        <input type="search" id="userSearch" name="q" placeholder="Search for books..." required>
        <button class="search-btn">Search</button>
    </form>
    
   
{% endblock %}

{% block js %}
 
{% endblock %}