{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <legend>Sign up to create your Book Dock Account</legend>
    <form action="/signup" method="POST">
        
        <label for="full_name">Full Name:</label><br>
        <input type="text" id="full_name" name="full_name" required><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>

        {# https://www.w3schools.com/howto/howto_js_password_validation.asp #}
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" pattern="(?=.*\d) (?=.*[a-z]) (?=.*[A-Z]).{8, 20}" title="Password must include at least one number, one uppercase, one lowercase letter, and at min 8 characters and max 20 characters" required><br>

        <label for="confirm-pw">Confirm Password:</label><br>
        <input type="password" id="confirm-pw" name="confirm-pw" required><br>

        <label for="book_goal">Set Book Goal:</label><br>
        <input type="number" id="book_goal" name="book_goal" min="0" max="300" value="0"><br>

        <label for="goal_date">Choose Goal Date:</label><br>
        <input type="date" id="goal_date" name="goal_date"><br>

        <input type="submit" value="Submit">
        <input type="reset">
    </form>

    <div id="pwMessage">
        <h4>Password must contain the following:</h4>
        <p id="lowLetter" class="invalid">A <b>lowercase</b> letter</p>
        <p id="capLetter" class="invalid">A <b>capital(uppercase)</b> letter</p>
        <p id="number" class="invalid">A <b>number</b></p>
        <p id="length" class="invalid">Minimum of <b>8 characters</b> and Maximum of <b>20 characters</b></p>
    </div>

    {% block js %}
        <script src="/static/js/password.js"></script>
    {% endblock %}

{% endblock %}