{% extends 'base.html' %}

{% block title %}Personal Book Dock{% endblock %}
{% block link %} 
<a id="book_list" href="{{url_for('book_list')}}">Add Book</a>
<a id="log_out" href="{{url_for('log_out')}}">Log Out</a> 
{% endblock %}

{% block content %}

<h1>Welcome to Book Dock!</h1>

<div class="current">
    <h3>Currently Reading</h3>
</div>

<div id="read-list">
    <h3>To Read:</h3>
    <ul id="user-list">
        {% for book in bookuser %}
            <li>{{book.volume.title}}
                <img src="{{book.volume.img_links}}" alt="harry potter book img"/>
            </li>
        {% endfor %}
    </ul>
</div>


{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/index.js')}}"> 
        
    </script>
{% endblock %}