{% extends 'base.html' %}

{% block title %}Personal Book Dock{% endblock %}
{% block link %} 
    <ul class="navbar-nav">
        <li class="navbar-item">
            <p onClick="goBack()" class="nav-link">Back</p>
        </li>
        <li class="navbar-item">
            <a id="book_search" href="{{url_for('book_search')}}" class="nav-link">Book Search</a>
        </li>
        <li class="navbar-item">
            <a id="profile" href="{{url_for('profile')}}" class="nav-link">Profile</a>
        </li>
        <li class="navbar-item">
            <a id="log_out" href="{{url_for('log_out')}}" class="nav-link">Log Out</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
<div class="container homePage">
    <h1>Welcome to Book Dock!</h1>
    <div id="goals" class="row align-items-center">
        <h3 class="user-goals">My Goals:</h3>
        <hr class="hr1">
        <div class="books col-4">
            <h4><b>Book Goal:</b> <span id="userGoal">{{user.book_goal}}</span></h4>
            <h4><b>Total Books Read:</b> <span id="bookGoals"></span></h4>
        </div>
        <div class="datesGoal col-4 ms-auto">
            <h4><b>Goal Date: </b><span id="goalDate">{{goal_date}}</span></h4>
            <h4><b>Countdown: </b><span id="countdownTimer"></span></h4>
        </div>
    </div>
    

    <div id="current">
        <h3>Currently Reading:</h3>
        <ul class="book-card row row-cols-1 row-cols-4 g-4">
            {# will list book and image and link to book details #}
            {# update list and database with user_id.completed#}
            {% for book in bookuser %}
                {% if book.reading == "true" and book.completed == "false" %}
                        <li id={{book.volume_id}} class="col">
                            <div class="book-card card">
                                <a href="/volumes/{{book.volume_id}}" target="_blank">
                                    <img src="{{book.volume.img_links}}" alt="book image">
                                </a>
                                <h5 class="card-title">{{book.volume.title}}</h5>
                                {# update list and database with user_id.reading#}
                                <form action="/completed" method="post">
                                    <input type="hidden" id={{book.volume.volume_id}} name="volume_id" value={{book.volume_id}}>
                                    <input type="submit" value="Completed" id="completed" class="btn">
                                </form>

                                {# update list and database and moving book back to To Read List #}
                                <form action="/to_read" method="post">
                                    <input type="hidden" class={{book.bookuser_id}} name="volume_id" value={{book.volume_id}}>
                                    <input type="submit" value="To Read" id="toRead" class="btn">
                                </form>
                            </div>
                        </li>
                {% endif %}
            {% endfor %}
        </ul> {# div class for book-card row row-cols-1 row-cols-3 g-4 #}
    </div> {# div for id current #}

    <div id="read-list">
        <h3>To Read:</h3>
        <ul id="user-list" class="book-card row row-cols-1 row-cols-4 g-4">
            {% for book in bookuser %}
                {% if book.reading == "false" %}
                        <li id={{book.volume_id}} class="col">
                            <div class="book-card card">
                                <a href="/volumes/{{book.volume_id}}" target="_blank">
                                    <img src="{{book.volume.img_links}}" alt="book image"/>
                                </a>
                                <h5 class="card-title">{{book.volume.title}}</h5>
                                {# update list and database with user_id.reading#}
                                <form action="/current" method="post">
                                    <input type="hidden" id={{book.volume.volume_id}} name="volume_id" value={{book.volume_id}}>
                                    <input type="submit" value="Reading" id="reading" class="btn">
                                </form>

                                {# update list and database with bookuser delete from database#}
                                <form action="/delete_bookuser" method="get" id="delete_bookuser">
                                    <input type="hidden" class={{book.bookuser_id}} id="bookuser_id" name="bookuser_id" value={{book.bookuser_id}}>
                                    <input type="submit" value="Delete" id="deleteItem" class="btn">
                                </form>
                            </div>
                        </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div> {# div for id read-list #}

    <div id="finished">
        <h3>Completed:</h3>
        <ul id="finished-list" class="book-card row row-cols-1 row-cols-4 g-4">
            {# will list title of book and button to move read list #}
            {# update list and database with user_id.completed. If completed == False move to to read list else True completed#}
            {% for book in bookuser %}
                {% if book.completed == "true" %}
                        <li id={{book.volume.volume_id}} class="col">
                            <div class="book-card">
                                <a href="/volumes/{{book.volume_id}}" target="_blank">
                                    <img src="{{book.volume.img_links}}" alt="book image"/>
                                </a>
                                <a href="https://www.google.com/books/edition/_/{{book.volume_id}}?hl=en&kptab=sideways" target="_blank">Similar Books</a>
                                <h5 class="card-title">{{book.volume.title}}</h5>
                                {# goes to review form with volume title and id #}
                                <form action="/review_form" method="post" target="_blank">
                                    <input type="hidden" id="volumeId" name="volumeId" value="{{book.volume_id}}">
                                    <input type="hidden" id="bookTitle" name="bookTitle" value="{{book.volume.title}}">
                                    <input type="submit" name="reviewBtn" value="Review" id="reviewBtn" class="btn">
                                </form>
                                {# update list and database completed == False #}
                                <form action="/current" method="post">
                                    <input type="hidden" class={{book.bookuser_id}} name="volume_id" value="{{book.volume_id}}">
                                    <input type="submit" value="To Current" id="toCurrent" class="btn">
                                </form>
                            </div>
                        </li>
                {% endif %}
            {% endfor %}
        </ul>

    </div> {# div for id finished #}
</div>{# div class for container #}

{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/collect.js/4.29.3/collect.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/collect.js/4.29.3/collect.js"></script>
    <script src="{{ url_for('static', filename='js/index.js')}}"> </script>
    <script src="/static/js/review_form.js"></script>
{% endblock %}